{% extends 'base.html' %}

    {% block title %}
    <title>{{ title }}</title>
    {% endblock %}



{% block content %}
<form class="col-md-2" method="get" action="/web/upload" enctype="multipart/form-data" class="form-inline">
    <label for="formFileMultiple" class="form-label">Choose Images: </label>
    <!-- <button type="input" name="files[]" id="fileInput" class="form-control" multiple>Chose file</button> -->

    <input  type="file" name="files[]" id="fileInput" multiple >
    
    <input  type="submit" name="submit" class="btn btn-outline-danger" value="UPLOAD"/>
</form>


<input type="file" id="file" />
  <label for="file" class="btn-2">upload</label>
<input type="file" id="file" />
  <label for="file" class="btn-3">
    <span>select</span>
  </label>
  


  


{% if categories %}
    <h3>Categories</h3>

    <div class="container-fluid">
        <div>
            {% for c in categories %}
            <a type="button" href="/by_category/{{ c.value }}" class="btn btn-primary" style="margin:2px">{{ c.value }}</a>
            {% endfor %}

        </div>

    </div>


{% endif %}


    {% if is_admin %}
        <p class="h1">flkjhggfhkllljgkljjjg</p>
    {% endif %}

    
    {% if menu %}

        <p class="h1">{{ title }}</p>
        <ul>
        {% for dish in menu %}
            <br>
    <!--        <p class="h2">{{ dish['title'] }}</p>-->
            <p class="h2">{{ dish.title }}</p>
            <img src="{{ url_for('static', path='images/' + dish.image) }}" alt="" width="200" height="200">
            <p class="h4">{{ dish.price }}</p>
            <hr>

        {% endfor %}
        </ul>
    {% else %}
            <p class="h2">We have nothing to offer based on your requirements</p>
    {% endif %}


{% endblock %}




